@keyframes anim-bettement-coeur {
    0% {
        opacity:1;
      }
      14% {
        opacity:1;
      }
      28% {
        opacity:0;
      }
      42% {
        opacity:0;
      }
      70% {
        opacity:0;
      }
      
}