/* ---------------- BACKGROUND */
$color__background-body : hsl(224, 100%, 22%);
$color__background-main : hsl(204, 59%, 67%);
$color__background-cours : hsl(209, 100%, 91%);
$color__background-header : hsl(207, 66%, 66%);
$color__background-barre : hsl(200, 78%, 9%);
$color__background-footer : hsl(225, 78%, 13%);
$color__background-link : hsl(229, 64%, 70%);
$color__background-link-hover : hsl(236, 64%, 44%);
$color__colorbackground-recherche: rgb(3, 52, 100);

$color__texte__recherche: rgb(202, 209, 212);
$color__texte__icones: rgb(148, 43, 148);

$color__background-404 : hsl(286, 96%, 36%);

/* ---------------- LIENS */
$color__link : hsl(182, 100%, 39%);
$color__link-hover : hsl(0, 0%, 100%);
$color__link-visited : hsl(315, 100%, 48%);
/* ---------------- LIENS FOOTER */
$color__link__footer : hsl(261, 91%, 50%);
$color__link__footer-hover : hsl(249, 66%, 71%);
$color__link__footer-visited : hsl(231, 84%, 50%);
/* ---------------- LIENS HEADER titre principal du site */
$color__link__header : hsl(194, 100%, 55%);
$color__link__header-hover : hsl(332, 62%, 55%);
$color__link__header-visited : hsl(261, 62%, 56%);

/* ---------------- FONT */
$color__font-header : rgb(4, 6, 41);
$color__font-main :rgb(193, 225, 235);
$color__font-barre : rgb(79, 86, 117);
$color__font-footer : rgb(202, 210, 255);


