@mixin links($couleur, $couleur__visite, $couleur__hover) {
	display: inline-block;
	text-decoration: none;
	padding: 10px;
	color: $couleur;
	box-sizing: border-box;
	border: 2px solid transparent;

	&:visited {
		color: $couleur__visite;
		opacity: .8;

		svg {
			color: $couleur__visite;
		}
	}

	&:hover,
	&:focus,
	&:active {
		color: $couleur__hover;
		border-radius: 10px;
		border: 2px solid $couleur__hover;

		svg {
			color: $couleur__hover;
		}
	}

	svg {
		color: $couleur;
	}
}


a {
	@include links(	$color__link,
					$color__link-visited, 
					$color__link-hover )
}

 .site__footer a{
	@include links(	$color__link__footer,
					$color__link__footer-visited, 
					$color__link__footer-hover );
}

.header__titre a{
	@include links(	$color__link__header,
					$color__link__header-visited, 
					$color__link__header-hover );

	font-size: clamp(4rem, 2vw, 9rem);				
}

