.boite__modale, .boite__carrousel {
    position: fixed;
    border: 5px solid magenta; 
    background-color: deepskyblue;
    color: whitesmoke;
    transform: scale(0);
    transition: all 1s ease-in-out;
    &__fermeture{}

} 

.ouvrir {
    transform: scale(1);
}

/*Les dimentions de la boite modale*/
.boite__modale{
    width: 50%;
    height: auto;
    min-height: 50%;
    top: 25%;
    left: 25%;

    &__texte{
        overflow: hidden;
    }

}

/*Les dimentions de la boite carrousel*/
.boite__carrousel{
    width: 75%;
    height: auto;
    min-height: 50%;
    top: 12.5%;
    bottom: 12.5%;
    left: 12.5%;

    &__navigation{

    }

}