.boite__modale {
    position: fixed;
    top: 25%;
    left: 25%;
    border: 5px solid magenta; 
    background-color: deepskyblue;
    color: whitesmoke;
    width: 50%;
    min-height: 50%;
    max-height: 100%;
    transform: scale(0);
    transition: all 1s ease-in-out;
    &__fermeture{}

    &__texte{
        overflow: hidden;
    }

} 

.ouvrir {
    transform: scale(1);
}