.infos_suplementaire{
    padding: 5%;
    border: 2px solid magenta;
    background-color: rgb(106, 235, 222);
    border-radius: 5% 5% 5% 5%;
    box-shadow: 5px 5px 5px rgb(3, 109, 98);
    p{
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
}

.ateliers__menu{
    animation: apparaitre 5s ease-in-out;
}